.modalComponent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color:#a5a7a8;
    z-index: 1030;
  }
  .modalComponentContent {
    background-color: #292b2d;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
  }

  .modalComponentTitle{
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 20px 0;
    padding-bottom: 8px;
    border-bottom: 2px solid #e6e6e8;
  }
  .modalComponentTitle:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 50px;
    background-color: #ff0000;
  }
  .modalComponentMessage{
    text-align: center;
  }


  .modalComponentDanger{
    color:red;
  }

  .modalButton{
    outline: none;
    background-color: #0D0D0D;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 4px;
    text-transform: uppercase;
  }

  .modalButton:hover{
    background-color: #ff0000;
    color: white;
    }
  
  .modal-content p {
    margin-bottom: 20px;
  }
  @media (max-width: 500px){
    .modal-content{
        width: 90%;
    }
  }
