/* Основной фон и цвет текста */
.blog-details-container {
  background-color: #1e1e1e; /* Темный почти черный фон */
  color: #e0e0e0; /* Светлый цвет текста для контраста */
  padding: 20px;
  /* border-radius: 8px; */
  max-width: 1024px;
  margin: 0 auto;
}

/* Титл контент дата автор регион */

.blog-container_inner {
  margin: 10px 0;
  margin-bottom: 12px;
}

.blog-title_inner {
  color: #f5f5f5;
  margin-top: 35px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1.4;
  padding: 6px 12px;
}

.blog-publishedDate_inner {
  display: flex;
  align-items: center; /* Вертикальное выравнивание */
  color: #b3b3b3; /* Светло-серый цвет текста */
  padding: 6px 12px;
  font-size: 14px; /* Размер шрифта */
  font-family: "Verdana", sans-serif; /* Шрифт */
  margin-bottom: 40px;
}

/* Основной стиль для контента блога */
.blog-content_inner {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  /* border: 1px solid #444; */
 margin: 24px auto;
  word-wrap: break-word; /* Перенос длинных слов */
}

/* Заголовки внутри контента */
.blog-content_inner h1,
.blog-content_inner h2,
.blog-content_inner h3 {
  color: #f5f5f5; /* Цвет заголовков */
  margin-top: 20px; /* Отступ сверху */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Ссылки */
.blog-content_inner a {
  color: #1c79b7; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание */
}

.blog-content_inner a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Цитаты */
.blog-content_inner blockquote {
  background-color: #2e2e2e; /* Фон цитаты */
  color: #b3b3b3; /* Цвет текста */
  padding: 10px 20px; /* Внутренние отступы */
  border-left: 5px solid #1c79b7; /* Линия слева */
  margin: 20px 0; /* Отступы сверху и снизу */
  font-style: italic; /* Курсив */
}

/* Код */
.blog-content_inner pre {
  background-color: #2e2e2e; /* Фон кода */
  color: #e0e0e0; /* Цвет текста */
  padding: 10px; /* Внутренние отступы */
  border-radius: 4px; /* Скруглённые углы */
  overflow-x: auto; /* Горизонтальная прокрутка */
  font-family: "Courier New", monospace; /* Шрифт для кода */
  border: 1px solid #444; /* Граница */
}

.blog-content_inner code {
  background-color: #333; /* Фон для inline-кода */
  color: #e0e0e0; /* Цвет текста */
  padding: 2px 4px; /* Внутренние отступы */
  border-radius: 4px; /* Скруглённые углы */
  font-family: "Courier New", monospace; /* Шрифт для кода */
}

/* Основной стиль для имени автора и региона */
.blog-author-region_inner {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Современный шрифт */
  font-size: 14px; /* Размер шрифта */
  color: #e0e0e0; /* Цвет текста по умолчанию */
  padding: 12px 12px; /* Внутренние отступы */
  margin-bottom: 12px; /* Отступ снизу */
  display: flex; /* Выравнивание по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  gap: 10px; /* Промежуток между элементами */
}

/* Имя автора */
.blog-author-name {
  color: #9e9e9e; /* Цвет текста имени автора */
  display: inline-flex; /* Выравнивание с иконкой */
  align-items: center; /* Центрирование иконки и текста */
  gap: 10px; /* Промежуток между иконкой и текстом */
}

/* Регион */
.blog-region-name {
  font-style: italic; /* Курсивный текст для региона */
  color: #9e9e9e; /* Цвет текста региона (серый) */
  display: inline-flex; /* Выравнивание с иконкой */
  align-items: center; /* Центрирование иконки и текста */
  gap: 5px; /* Промежуток между иконкой и текстом */
}

/* Форматирование формы редактирования */
.edit-blog-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Добавляем промежуток между элементами формы */
}

.edit-blog-form div {
  margin-bottom: 15px; /* Отступы между полями ввода */
}

/* Поля ввода и текстовые области */
.edit-blog-form_input,
.edit-blog-form_textarea {
  background-color: #2e2e2e; /* Чуть светлее фон для полей ввода */
  color: #e0e0e0; /* Цвет текста в полях ввода */
  border: 1px solid #444; /* Цвет границы полей ввода */
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

/* Увеличиваем высоту поля для контента */
.edit-blog-form_textarea {
  min-height: 150px; /* Минимальная высота для текстовой области */
  resize: vertical; /* Позволяет пользователю изменять высоту поля */
}

/* Ошибки валидации */
.edit-blog-form p {
  margin: 5px 0;
  font-size: 14px;
}

.edit-blog-form p.error {
  color: #ff6f6f; /* Цвет ошибок */
}

/* Кнопки */

.edit-blog_button,
.edit-blog-form_button{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1c79b7; /* Бордовая кнопка */
  color: #f5f5f5; /* Цвет текста на кнопке */
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-blog_button,
.delete-blog-form_button{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

/* Контейнер для кнопок */
.button-container_edit_del {
  display: flex; /* Включаем flexbox для контейнера */
  justify-content: flex-start; /* Выравниваем элементы по правому краю */
  margin-top: 20px; /* Отступ сверху, если нужно */
  gap: 10px;
  padding: 0 12px;
}

.edit-blog_button:hover,
.edit-blog-form_button:hover {
  background-color: #18689e; /* Цвет кнопки при наведении */
}

.delete-blog_button:hover,
.delete-blog-form_button:hover{
  background-color: #9e1818;
}

/* Статусы загрузки и сообщения */
.status-message {
  font-size: 16px;
  margin-top: 20px;
}

.status-message.loading {
  color: #e0e0e0;
}

.status-message.error {
  color: #ff6f6f;
}

.status-message.success {
  color: #4caf50;
}

/* Комментарии */
.comments-section {
  margin-top: 64px;
  margin-bottom: 64px;
}

/* Контейнер для заголовка комментариев */
.comments-header {
  margin-top: 20px; /* Отступ сверху */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Контейнер для информации о комментариях */
.comments-info {
  display: flex; /* Используем flexbox для горизонтального выравнивания */
  align-items: center; /* Выравнивание по центру вертикально */
  font-size: 16px; /* Размер шрифта */
  color: #e0e0e0; /* Цвет текста */
  /* background-color: #222222; */
  padding: 10px 20px; /* Внутренние отступы */
  border-radius: 5px;
  height: 25px;
}

/* Стиль для количества комментариев */
.comments-count {
  margin: 0 8px; /* Отступы слева и справа от количества комментариев */
  font-weight: bold; /* Жирное начертание текста */
}

.comments-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.comments-section p {
  margin: 5px 0;
}

.blog_comment {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog_comment_author{
  color: #9e9e9e;
}

.blog_delcomment_button {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background-color: #2e2e2e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.blog_delcomment_button:hover{
  background-color: #9e1818;
}

.comments-section .comment button:hover {
  background-color: #18689e;
}

/* Добавление комментария */
.add-comment-section {
  margin-top: 32px;
}

.add-comment-section textarea {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 100px;
  resize: vertical;
}

.blog_addComment_button {
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.add-comment-section button:hover {
  background-color: #18689e;
}

.add-comment-section p.error {
  color: #ff6f6f;
  font-size: 14px;
}

/* Модальные окна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h2 {
  color: #f5f5f5;
}

.modal-content p {
  color: #e0e0e0;
}

.modal-content button {
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #18689e;
}
