
.blog-details-container {
  background-color: #1e1e1e; 
  color: #e0e0e0; 
  padding: 20px;
  /* border-radius: 8px; */
  max-width: 1024px;
  margin: 0 auto;
}

.blog-container_inner {
  margin: 10px 0;
  margin-bottom: 12px;
}

.blog-title_inner {
  color: #f5f5f5;
  margin-top: 35px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1.4;
  padding: 6px 12px;
}

.blog-publishedDate_inner {
  display: flex;
  align-items: center; 
  color: #b3b3b3; 
  padding: 6px 12px;
  font-size: 14px;
  font-family: "Verdana", sans-serif; 
  margin-bottom: 40px;
}


.blog-content_inner {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  /* border: 1px solid #444; */
 margin: 24px auto;
  word-wrap: break-word; 
}


.blog-content_inner h1,
.blog-content_inner h2,
.blog-content_inner h3 {
  color: #f5f5f5;
  margin-top: 20px; 
  margin-bottom: 10px; 
}


.blog-content_inner a {
  color: #1c79b7; 
  text-decoration: none; 
}

.blog-content_inner a:hover {
  text-decoration: underline; 
}


.blog-content_inner blockquote {
  background-color: #2e2e2e; 
  color: #b3b3b3; 
  padding: 10px 20px; 
  border-left: 5px solid #1c79b7; 
  margin: 20px 0; 
  font-style: italic;
}


.blog-content_inner pre {
  background-color: #2e2e2e; 
  color: #e0e0e0; 
  padding: 10px; 
  border-radius: 4px; 
  overflow-x: auto; 
  font-family: "Courier New", monospace; 
  border: 1px solid #444; 
}

.blog-content_inner code {
  background-color: #333; 
  color: #e0e0e0; 
  padding: 2px 4px; 
  border-radius: 4px; 
  font-family: "Courier New", monospace; 
}


.blog-author-region_inner {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 14px; 
  color: #e0e0e0; 
  padding: 12px 12px; 
  margin-bottom: 12px; 
  display: flex; 
  align-items: center; 
  gap: 10px; 
}


.blog-author-name {
  color: #9e9e9e; 
  display: inline-flex; 
  align-items: center; 
  gap: 10px; 
}

/* Регион */
.blog-region-name {
  font-style: italic; 
  color: #9e9e9e; 
  display: inline-flex; 
  align-items: center; 
  gap: 5px; 
}


.edit-blog-form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.edit-blog-form div {
  margin-bottom: 15px;
}


.edit-blog-form_input,
.edit-blog-form_textarea {
  background-color: #2e2e2e;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}


.edit-blog-form_textarea {
  min-height: 150px; 
  resize: vertical; 
}


.edit-blog-form p {
  margin: 5px 0;
  font-size: 14px;
}

.edit-blog-form p.error {
  color: #ff6f6f;
}

/* Кнопки */

.edit-blog_button,
.edit-blog-form_button{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-blog_button,
.delete-blog-form_button{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}


.button-container_edit_del {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 10px;
  padding: 0 12px;
}

.edit-blog_button:hover,
.edit-blog-form_button:hover {
  background-color: #18689e;
}

.delete-blog_button:hover,
.delete-blog-form_button:hover{
  background-color: #9e1818;
}

/* Статусы загрузки и сообщения */
.status-message {
  font-size: 16px;
  margin-top: 20px;
}

.status-message.loading {
  color: #e0e0e0;
}

.status-message.error {
  color: #ff6f6f;
}

.status-message.success {
  color: #4caf50;
}

/* Комментарии */
.comments-section {
  margin-top: 64px;
  margin-bottom: 64px;
}


.comments-header {
  margin-top: 20px;
  margin-bottom: 10px;
}


.comments-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #e0e0e0;
  /* background-color: #222222; */
  padding: 10px 20px;
  border-radius: 5px;
  height: 25px;
}


.comments-count {
  margin: 0 8px;
  font-weight: bold;
}

.comments-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.comments-section p {
  margin: 5px 0;
}

.blog_comment {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog_comment_author{
  color: #9e9e9e;
}

.blog_delcomment_button {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background-color: #2e2e2e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.blog_delcomment_button:hover{
  background-color: #9e1818;
}

.comments-section .comment button:hover {
  background-color: #18689e;
}

/* Добавление комментария */
.add-comment-section {
  margin-top: 32px;
}

.add-comment-section textarea {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 100px;
  resize: vertical;
}

.blog_addComment_button {
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.add-comment-section button:hover {
  background-color: #18689e;
}

.add-comment-section p.error {
  color: #ff6f6f;
  font-size: 14px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content h2 {
  color: #f5f5f5;
}

.modal-content p {
  color: #e0e0e0;
}

.modal-content button {
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #18689e;
}
