.blogList_container {
  background-color: #1e1e1e; /* Темный почти черный фон */
  color: #e0e0e0; /* Светлый цвет текста для контраста */
  padding: 20px;
  /* border-radius: 8px; */
  max-width: 1024px;
  margin: 0 auto;
}

.blogList-items_container{
    margin: 20px auto;
}

.newBlog_button {
  display: flex;
  justify-content: center;
  background-color: #1c79b7;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.newBlog_button:hover {
  background-color: #18689e;
}

.blogList_select {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  background-color: #2e2e2e;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 2px;
  width: 100%;
  height: 32px;
}

.blogs-title{
    color: #f5f5f5;
  font-size: 24px;
  line-height: 1.4;
  margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Добавлено свойство flex-wrap */
  }
  
  .pagination button {
    background-color: #2e2e2e;
    color: #f5f5f5;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px; /* Изменено для более равномерного расположения кнопок */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #18689e;
  }
  
  .pagination button:disabled {
    background-color: #444;
    color: #888;
    cursor: default;
  }
  
  .pagination button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1c79b7;
  }