.aMainBlock{
    background-image: linear-gradient(#e88787, #ff0000);
    min-height: 50px;
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
    color:white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}