body {
  background-color: black !important;
  color: rgb(209, 207, 207)
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.pagination button {
  background-color: #2e2e2e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px; 
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: red;
}

.pagination button:disabled {
  background-color: #444;
  color: #888;
  cursor: default;
}

.pagination button:focus {
  outline: none;
  box-shadow: 0 0 0 2px red;
}

@media (max-width: 768px) {
  .input-group {
    flex-direction:row;
    /* align-items: stretch; */
   
  }

  .form-control, .form-select, .btn {
    max-width: 100%;
    padding: 15px;
  }


  

}