.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #1b1818;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    text-align: center;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background: #5e4848;
  }
  
  .btn:hover {
    background: #007bff;
    color: white;
  }
  
  .btn-secondary:hover {
    background: #999;
  }