body {
  background-color: black !important;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}
main{
  min-height: calc(100vh - 440px);
}
.textColorMain{
  color:white;
}
.textCenter{
  text-align: center;
}
.topBlock {
  background-color: #ff0000;
  width: 100%;
  color: white;
  height: 55px;
}

.topBlock a {
  color: #fff;
  text-decoration: none;
}

.topBlock ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.topBlock ul li {
  margin-right: 30px;
}

.loginButton{
  cursor: pointer;
}
.topBlock ul li:last-child {
  margin-right: 0;
}
.left-content {
  width: 70%;
}
.topText {
  overflow: hidden;
}
.topTitle {
  float: left;
  color: #fff;
  z-index: 1;
  padding: 15px 20px;
  border-right: 1px solid #f0f3f5;
  font-weight: 500;
  padding-left: 0;
}
.notMain{
  border:none;
}
.run {
  overflow: hidden;
}
.rightTopBlock {
  width: 20%;
}
.runText {
  padding: 15px 20px;
  float: left;
}
.runText a {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.login {
  margin-right: 5px;
}
.container .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.container .navbar-toggler {
  border: 1px solid #ff0000;
  font-size: 1rem;
}
.container .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.logo {
  color: #ff0000;
  text-decoration: none;
}
.navbar-nav {
  width: 100%;
  justify-content: right;
}
.navbar-collapse a {
  font-weight: 500;
  padding: 20px;
  margin-right: 30px;
}
.navbar-collapse .mActive {
  color: #ff0000;
  cursor: default;
}

.navbar-collapse a:hover {
  color: #ff0000;
}
.mainBlock {
  margin-top: 30px;
}
.picBlock img {
  border-radius: 4px;
}

.picBlock {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.7) 100%
    );
    transition: opacity 0.3s;
    will-change: opacity;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
.smallBlock {
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
}
.halfHeight {
  height: 50%;
}
.verticalCenter {
  margin: auto 0;
}
.weatherPadding {
  padding: 10%;
}
/* advertising */
.aMainBlock {
  background-image: linear-gradient(#e88787, #ff0000);
  min-height: 50px;
  width: 100%;
  border-radius: 4px;
  margin: 20px 0;
  color: white;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}
.aMainBlock h2 {
  margin: 0;
}
/* weather */
.wMainblock {
  width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-image: linear-gradient(#53585b, #2b3035d9);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wBlock {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.wSmallBlock {
  display: inline-block;
}
.wInfo {
  margin-top: 10px;
}
/* news */
.nBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.nTitle {
  font-size: 1.2rem;
}
.nInfo {
  font-size: 0.7rem;
}
.infoH2 {
  margin: 0;
}
.nIco {
  margin-right: 7px;
}
.newsTopTitle {
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 20px 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6e6e8;
}
.newsTopTitle:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 50px;
  background-color: #ff0000;
}
.region {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #ff0000;
  color: white;
  z-index: 2;
}
/* footer */
.fBlock {
  margin-top: 30px;
  background-color: #292b2d;
  width: 100%;
}

.fTopBlock {
  text-align: center;
  border-bottom: 1px solid #e3e6e8;
}
.buttonMenu {
  display: inline-block;
  float: none !important;
  padding: 25px 0 15px 0;
}
.buttonMenu li {
  display: inline-block;
}
.footerA {
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  color: #a5a7a8;
  letter-spacing: 2px;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
}
.footerA:hover {
  color: #ff0000;
}
.mActive {
  color: #ff0000;
  cursor: default;
}
.fInfo {
  color: #a5a7a8;
  padding: 20px 0;
}
.button {
  background-color: black;
  color: white;
  text-align: center;
}
.blog{
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .col-3 {
    width: 50% !important;
  }
  .newSlider{
    width: 100% !important;
  }
  .smallWidth {
    margin-top: 20px !important;
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .topBlock {
    height: 80px;
  }
  .d-flex {
    flex-wrap: wrap;
  }
  .left-content {
    width: 100%;
    border-bottom: 1px solid;
  }
  .smallWidth .col-6 {
    width:100%}
}
  @media (max-width: 500px){
    .smallWidth .col-6 {
      width:100%}
      .smallWidth .col-3 {
        width:100%!important}
    .newsTopic .nTitle{
      font-size:.8rem}
    }
  


