
a, .news_content a{
    color: #fff;
    text-decoration: none;
}

 .newsItem_content, .comment-content, .comment-form{
    background-color: #292b2d;
    color: #fff;
}
.news_content .news_img{
    height: 180px;
    width: 100%;
}

.news_content, .comment-form,.comment-content , .newsItem_content{
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
}
.news-aside{
    padding: 10px;
}
.filter_block{
    background-color: #000;
    margin-bottom: 10px;
}
.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
}


/*News*/
/* .filter-region{
    min-height: 10px;
    height: auto;
    transition: min-height 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    &.hidden{
        /* visibility: hidden; */
        /* min-height: 0; */
        /* height: 0; */
        /* transition-delay: .1s; */
    /* } */
/* } */ 
.filter-region {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out 0.5s, padding 0.5s ease-in-out 0.5s;
  }
  
  .filter-region.hidden {
    max-height: 0;
    padding: 0;
    transition-delay: 0s; 
  }
  
  .filter-region:not(.hidden) {
    max-height: 500px; 
    padding: 10px;
    transition-delay: 0.4s; 
  }
  .region-filter-btn{
    width: auto !important;
    min-width: 160px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
.newsBlock{
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.newsBlock:hover:before{
    opacity: 1;
}
.newsBlock_info{
    text-align: center;
    font-size: 0.7rem;
}
.newsBlock-title{
    font-size: 1.2rem;
}
.activity_sm_block{
    margin-left: 7px;
}
.pick-block{
 position: absolute;
    top: 6px;
    left: 6px;
    background-color: #ff0000;
    color: white;
    z-index: 2;
    padding: 0 3px;
    border-radius: 3px;
}
.news-filter-btn{
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.55);
    text-align: center;
    padding: 3px 7px;
    min-width: 150px;
    font-weight: 500;
    text-transform: capitalize;
    &:hover,
    &.active{
        color: #ff0000;
        border: 1px solid #ff0000;
    }
}
.news-filter-btn input{
    visibility: hidden;
    position: absolute;
}

.page-number{
    border: 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
    padding: 10px 20px;
    display: block;
    float: none;
    position: relative;
    outline: none;
    color: #ff0000;
    background-color: #292b2d;
    &:hover,
    &.current{
        color: #fff;
        background-color: #ff0000;
    }
}


/*NewsItem*/
.newsItem-title{
    font-size: 2rem;
    font-weight: 500;
}
.newsItem-content{

    .activity_sm_block{
        border: none;
        outline: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.55);
    }
    h2{
        font-size: 1.5rem;
        margin-top: 20px;
    }
}
.news-meta, .empty-comments{
    color: rgba(255, 255, 255, 0.55);
}
.news_comments{
    h2{
        text-transform: uppercase;
        font-size: 1rem;
    }
}
.comment-content{
    .newsTopTitle{
        margin: 0;
    }
}
.form-input {
    color: #fff;
    background-color: #0D0D0D;
    border-color: #0D0D0D;
    height: 45px;
    border-radius: 4px;
    padding: 6px 20px;
    margin-bottom: 30px;
    border: 1px solid #D8E2E9;
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
    width: 100%;
    min-height: 100px;
    &:focus{
        background-color: transparent;
        border-color: #ff0000;
        color: #fff;
    }
    
}
.submit-btn{
    outline: none;
    background-color: #0D0D0D;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    &:hover{
        background-color: #ff0000;
        color: #fff;
    }
}
.form-group{
    label{
        color: rgb(132, 134, 138);
        font-size: 14px;
        font-weight: normal;
    }
}