/* news.module.css */
a, .news_content a{
    color: #fff;
    text-decoration: none;
}

 .newsItem_content, .news_comments{
    background-color: #292b2d;
    color: #fff;
}
.news_content .news_img{
    width: 250px;
}

.news_content, .news_comments, .newsItem_content{
    padding: 10px 0;
    margin-top: 20px
}
.news_content a{
    width: 250px;
    background-color: #292b2d;
    margin: 10px;
}
.activity_sm_block{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    position: relative;
}
.activity_counter{
    font-size: 12px;
    position: absolute;
    right: -9px;
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: #292b2d;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}