.page404-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #242424;
    color: #fafafade;
  }
  
  .page404-title {
    color: #c72020de;
    font-size: 100px;
    margin: 0;
  }
  
  .page404-message {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .page404-description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .page404-home-link {
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
  }
  
  .page404-home-link:hover {
    text-decoration: underline;
  }